/* --- All Style  */
span,p{
    font-size: 12px;
}

:root {
  --iphone-x-width: 375px;
  --iphone-x-height: 812px;
}

.app-container {
  width: var(--iphone-x-width);
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px solid #ccc;
  overflow-x: hidden;
}

/* End - All Style */
.header{
    margin-top: 25px;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 375px;
    max-width: 100%;
    background-color: #fff;
    padding: 8px 0px;
    box-shadow: 0px -5px 15px -5px #f4f4f4;
  z-index: 1000;
}
/* --- Profile -> Logo */
.logo-followers .logo{
    width: 74px;
    height: 74px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-followers .logo img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #fff;
}
/* End - Profile -> Logo */

/* --- Profile -> fllowers-box -> count-fllowers */
.count-box .number-count{
    font-weight: 600;
    font-size: 11px;
}
.count-box .title-number-count{
    font-size: 10px;
}
.count-box{
    display: grid;
}
/* End - count-fllowers */

.bio-descriptions{
    margin-top: 8px;
    display: grid;
    width: 60%;
}
/* --- Tabs */
.tabs .form-select{
    font-size: 10px;
    width: 100px;
    padding: 4px 8px;
}
/* End - Tabs */
/* --- Contents -> Products */
.contents .product{
    height: 150px;
    background-color: #bcbcbc;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 0;
}
/* End - Contents -> Products  */

/* --- Products Image Link */
.product-image-link img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
/* End - Products Image Link */

/* ===== Style Sample Product */
.image-product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

/* --- React Actions icon */
.react-product{
    display: flex;
    flex-direction: row;
}
.react-actions a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #848484;
}
.react-actions a svg{
    margin-right: 2px;
}
.react-product .react-actions{
    width: 50px;
    margin-left: 10px;
}

/* End - React Actions icon */

/* --- Add To Cart */
.product-price{
    line-height: 19px;
}
.footer .add-to-cart .btn-success{
    border-radius: 8px;
    min-width: 100%;
    font-size: 18px;
}
.Discounted-number{
    background-color: #dc143c;
    color: #fff;
    padding: 0px 4px 1px 4px;
    border-radius: 8px;
}
.Discounted-price{
    font-size: 15px;
    color: #00000070;
}
.price-mine-product{
    font-size: 14px;
    font-weight: 600;
}

.Product-count{
    border-radius: 8px;
    border: 1px solid #d5d5d5;
    display: none;
}

.Product-count button{
     padding: 5px;
    background-color: #eeeeee;
    border: none;
    border-radius: 8px;

}
/* End - Add To Cart */
/* === End - Style Sample Product */