/* --- All Style  */
span,p{
    font-size: 12px;
}
/* End - All Style */
.header{
    margin-top: 25px;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding: 8px 0px;
    box-shadow: 0px -5px 15px -5px #f4f4f4;
}
/* --- Profile -> Logo */
.logo-followers .logo{
    width: 74px;
    height: 74px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-followers .logo img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #fff;
}
/* End - Profile -> Logo */

/* --- Profile -> fllowers-box -> count-fllowers */
.count-box .number-count{
    font-weight: 600;
    font-size: 11px;
}
.count-box .title-number-count{
    font-size: 10px;
}
.count-box{
    display: grid;
}
/* End - count-fllowers */

.bio-descriptions{
    margin-top: 8px;
    display: grid;
    width: 60%;
}

/* --- Contents -> Products */
.contents .product{
    height: 150px;
    background-color: #fcfcfc;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
/* End - Contents -> Products  */